/* Dark and Light mode */
@media (prefers-color-scheme: dark) {
    body {
        background: rgb(50,50,50);
        color: white;
    }
    main {
        background-color: rgb(35, 35, 35);
    }

    .color-body {
        background-color: rgb(50,50,50);
    }
}
  
@media (prefers-color-scheme: light) {
    body {
        background: rgb(220,220,220);
        color: black;
    }
    main {
        background-color: rgb(200,200,200);
    }

    .color-body {
        background-color: rgb(220,220,220);
    }
}