/* Dark and Light mode */

/* Dark */
@media (prefers-color-scheme: dark) {
    body {
        background: rgb(35,35,35);
        color: white;
    }

    .sidebar {
        background-color: rgb(50,50,50);
    }

    main {
        background-color: rgb(35, 35, 35);
    }
}

/* Light */
@media (prefers-color-scheme: light) {
    body {
        background: rgb(220,220,220);
        color: black;
    }

    .sidebar {
        background-color: rgb(180,180,180);
    }

    main {
        background-color: rgb(220,220,220);
    }
}