/* Entity Diagram styles */

.diagram-entity {
    border-collapse: collapse;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    margin: 30px;
    margin-left: 60px;
    margin-right: 40px;
}

.diagram-entity > th, td {
    /* (For testing) border: 1px solid black; */
    padding: 8px;
}

.entity-field-row > td {
    padding-bottom: 2px;
}

.entity-field-name {
    padding-right: 20px;
    text-align: left;
}

.entity-field-datatype {
    padding-left: 20px;
    text-align: right;
}

/* Entity */
.render-area > table {
    display: inline-table;
}