/* Top bar */
.top-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0px;
    /* white-space: nowrap;
    overflow-x: auto; */
}

.top-bar > div {
    margin: 15px;
}

.top-bar > div > label {
    margin-right: 5px;
}

/* Currently Disabled
.top-bar-new {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    overflow: hidden;
    background-color: rgb(25,25,25);
}

.top-bar-new > li {
    float: left;
}

.top-bar-new > .theme-color-li {
    float: right;
}

.top-bar-new > li > button, .theme-color {
    display: inline-block;
    text-align: center;
    padding: 6px 20px;
    background-color: rgb(25,25,25);
    border: none;
    color: white;
}

.top-bar-new > .test-group {
    display: inline-block;
}

.dropdown-content {
    margin-top: 5px;
    display: none;
    position: absolute;
    background-color: rgb(100,100,100);
    z-index: 1;
}

.dropdown-content button {
    padding: 6px;
    display: block;
    text-align: left;
    width: 100%;
}

.top-bar-new > .test-group:hover .dropdown-content {
    display: block;
}

.top-bar-new > li > button:hover {
    background-color: rgb(60,60,60);
}
*/



.description-area {
    margin-top: 70px;
    text-align: center;
}

.render-area {
    border: none;
    width: 100%;
    margin-top: 30px;
    overflow: auto;
}

select {
    outline: none;
}

